<nav>
  You are logged in
  <span class='loader'>
    Syncing
  </span>
  <a href="/logout">Log out</a>
</nav>



<div id="items">
  <div class='template item'>
    <a href='' target='_blank' class='url'>
      Preview
    </a>
    <div class='title'></div>
    <div class='date'></div>
  </div>
</div>
