You are logged in

<div class='loader'>
  Loading...
</div>

<div id="items">
  <div class='template item'>
    <div class='title'></div>
    <a href='' target='_blank' class='url'>
      Preview
    </a>
    <div class='date'></div>
  </div>
</div>
