<!DOCTYPE html>
<html>
  <head>
    <title>Smule Scraper</title>
    <script src="/jquery.js" charset="utf-8"></script>
    <script src="/moment.js" charset="utf-8"></script>
    <script src="/loader.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
